<form name="loginUserForm">
    Email:
    <input ng-required="true" ng-model="uctrl.loginForm.email"
           name="name" focus>
    Password:
    <input type="password" ng-required="true"
           ng-model="uctrl.loginForm.password">

    <button class="btn" type="submit" ng-disabled="loginUserForm.$invalid"
            ng-click="uctrl.loginUser(loginUserForm)">login
    </button>
    <button class="btn" type="reset">
        cancel
    </button>
</form>
<a ui-sref="register">Register</a>