
    <form name="registerUserForm" >
        Name:
        <input ng-required="true" ng-model="uctrl.registerUserForm.name"
               name="name">
        Email:
        <input type="email" ng-required="true"
               ng-model="uctrl.registerUserForm.email">
        Password:
        <input type="password" ng-required="true"
               ng-model="uctrl.registerUserForm.password">
        Confirm password:
        <input type="password" ng-required="true"
               ng-model="uctrl.registerUserForm.confirmPassword">
        <button class="btn" type="submit" ng-disabled="registerUserForm.$invalid"
                ng-click="uctrl.registerUser(registerUserForm)">add
        </button>
        <button class="btn" type="reset">
            cancel
        </button>
    </form>

    <a ui-sref="user">Login</a>
